{% if languages %}
<section class="section">
  <header>
    <h2 class='section-title'>Languages</h2>
  </header>
  <section id="languages">
    {% for language in languages %}
    <div class="display">
      {% if language.language %}
      <h3 class="language">
        {{ language.language }}
      </h3>
      {% endif %}
      <div class="item">
        {% if language.fluency %}
        <div class="level fluency {{ language.fluency | lower }}">
          {% if language.fluencyDisplay %}
          <em>{{ language.fluencyDisplay }}</em>
          {% else %}
          <em>{{ language.fluency }}</em>
          {% endif %}
          <div class="bar"></div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </section>
</section>
{% endif %}
