{% if references %}
<section class="section">
  <header>
    <h2 class='section-title'>References</h2>
  </header>
  <section id="references">
    {% for reference in references %}
    <div class="item">
      {% if reference.reference %}
      <blockquote class="reference">
        &#8220;&#32;{{ reference.reference }}&#32;&#8221;
      </blockquote>
      {% endif %}
      {% if reference.name %}
      <div class="name">
        {{ reference.name }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </section>
</section>
{% endif %}
